﻿.navbar.with-banner .navbar-toggle .icon-bar {
    width: 26px;
    height: 3px;
    background: #fff;
}

.navbar-toggle {
    margin: 0;
}

.mobile-buttons {
    display: none;
}

.hide-mobile {
    display: block;
}

.show-mobile {
    display: none;
}

@media (max-width: 1469px) {
    .banner-description {
        top: 160px;
    }

    .address-right {
        width: 435px;
        padding-right: 50px;
    }

    .lp-orange {
        padding-left: 50px;
        padding-bottom: 30px;
        padding-top: 50px;
        padding-right: 60px;
    }

    .lp-blue {
        padding-left: 75px;
        padding-bottom: 8px;
        padding-top: 60px;
        padding-right: 100px;
    }

    .footer-wrapper {
        padding-right: 40px;
        padding-left: 40px;
    }

    .footer-links {
        margin: 0 20px;
    }

    .copyright {
        padding-left: 60px;
    }

    .search-wrapper {
        top: 90px;
    }

    .center-side {
        width: 775px;
    }

    .left-side, .right-side {
        width: 178px;
    }
}

@media (max-width: 1199px) {
    .lp-orange {
        padding: 20px;
    }

    .center-side {
        padding: 0;
        width: 745px;
        padding-right: 17px;
    }

    .left-side {
        display: none;
    }

    .search-wrapper {
        top: 70px;
    }

    .switch-button-wrapper {
        padding: 10px 0;
    }

    .lp-blue {
        padding: 20px;
    }

        .lp-blue p,
        .lp-orange p {
            font-size: 16px;
        }

    .lp-browser-content {
        top: 70px;
    }

    .payment-item {
        float: left;
        width: 25%;
        padding-top: 18px;
        padding-bottom: 36px;
    }

        .payment-item img {
            height: 25px;
        }

    .payment-type em {
        line-height: 11px;
        bottom: -30px;
    }

    .address-left {
        display: none;
    }

    .address-right {
        width: 100%;
        padding-left: 0;
    }

    .address-settings {
        padding-top: 25px;
        padding-bottom: 38px;
    }
}

@media(max-width: 991px) {
    .navbar {
        padding: 20px 30px;
    }


    .search-wrapper h1 {
        display: none;
    }

    .search-wrapper {
        position: static;
        margin: 0;
        left: 0;
        width: 100%;
        padding-top: 76px;
    }

        .search-wrapper .form-control {
            -ms-border-radius: 0;
            border-radius: 0;
            border-width: 1px 0;
        }

    .banner-wrapper.no-banner img {
        display: none;
    }

    .banner-description {
        top: 80px;
    }

        .banner-description p {
            padding: 20px 0 30px 0;
            font-size: 18px;
        }

        .banner-description h1 {
            font-size: 30px;
        }

    .lp-orange,
    .lp-blue {
        text-align: center;
    }

    .switch-button-wrapper {
        display: inline-block;
    }

    .lp-blue {
        border-top: 1px solid #ededed;
    }

    .lp-browser-content {
        top: 30px;
    }

    .footer-links {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .social {
        float: none;
        display: inline-block;
        margin: 0 6px;
    }

    .footer-wrapper {
        padding-bottom: 47px;
    }

    .social-first {
        text-align: right;
    }

    .social-second {
        text-align: left;
    }

    .copyright {
        padding: 0 30px;
        text-align: center;
    }

    .account-links {
        padding: 20px 30px;
    }

    .inner-page-wrapper {
        padding: 29px;
    }

    .center-side {
        width: 100%;
        padding: 30px;
        margin-top: 0;
    }

    .left-side,
    .right-side {
        display: none;
    }

    .more-shop .btn:before, .more-shop .btn:after {
        display: none;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0;
    }

    .center-side {
        width: 100%;
        padding: 30px;
        margin-top: 0;
    }

    .left-side,
    .right-side {
        display: none;
    }

    .shop-box {
        width: 100%;
    }

    .more-shop .btn:before, .more-shop .btn:after {
        display: none;
    }

    .more-shop {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .navbar-toggle .icon-bar {
        background: #6756a3;
    }

    .navbar-collapse {
        background: #4a3b7b;
        float: right;
        width: 200px;
    }

    .customer-links.nav > li > a {
        float: none;
        color: #fff;
    }

    .inner-page-wrapper {
        padding: 0;
    }

    .navbar.with-banner .customer-links.nav > li > a {
        text-align: left;
    }

        .navbar.with-banner .customer-links.nav > li > a.sign-up {
            border: none;
        }

    .lp-browse-wrapper img {
        display: none;
    }

    .lp-browser-content {
        position: static;
    }

    .lp-browse-wrapper {
        padding: 60px 40px;
        background: #f9fafc;
    }

    .lp-browser-content p {
        font-size: 20px;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    .footer-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer-links + .footer-links {
        margin-top: 50px;
    }

    .banner-wrapper {
        height: 100vh;
        overflow: hidden;
    }

        .banner-wrapper img.img-responsive {
            height: 100%;
            width: auto;
            max-width: none;
        }

    .banner-description p {
        display: none;
    }

    .navbar.with-banner {
        padding: 20px 30px;
    }

    .banner-description h1 {
        font-size: 24px;
        margin: 110px 0;
        padding: 0 30px;
    }

    .banner-wrapper .btn-default {
        margin-left: 0;
        margin-top: 9px;
        padding: 18px 53px 19px;
    }

    .lp-browser-content h2 {
        font-size: 26px;
    }

    .scrolldown-message {
        display: none;
    }

    .form-title {
        margin: -30px -15px 30px -15px;
        padding: 28px 30px;
        background: #f9fafc;
        border-bottom: 1px solid #e8e8e8;
    }

    .qip-form {
        padding: 30px 15px;
        -ms-border-radius: 0;
        border-radius: 0;
        border: none;
    }

    .account-links a + a {
        margin-left: 20px;
    }

    .qip-form .row {
        margin: 0;
    }

    .qip-form .col-lg-6,
    .qip-form .col-lg-12 {
        padding: 0 15px;
    }

    .address-add-buttons {
        padding: 16px;
    }

    .qip-form .btn {
        margin: 0;
    }

        .qip-form .btn + .btn {
            margin-left: 10px;
        }

    .qip-form .btn-success {
        background-color: #6756a3;
        border-color: #6756a3;
        padding: 17px 26px 17px 27px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        font-size: 17px;
    }

    .qip-form .btn.btn-default {
        padding-left: 24px;
        padding-right: 24px;
        font-size: 16px;
    }

    .banner-wrapper.no-banner {
        height: auto;
    }

    .faq-wrapper {
        width: 100%;
        padding: 30px;
    }

    .faq-row-description h2 {
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 0;
    }

    .faq-button {
        display: none;
    }

    .payment-item img {
        height: 42px;
    }

    .payment-item {
        width: 100%;
        padding: 94px 0;
    }

        .payment-item + .payment-item {
            display: none;
        }

        .payment-item a.selected:after {
            right: 79px;
        }

    .account-settings {
        padding: 30px;
        border: none;
    }

        .account-settings + .account-settings {
            margin-top: 0;
            -ms-border-radius: 0;
            border-radius: 0;
            border-top: 1px solid #e8e8e8;
        }

        .account-settings h2 {
            font-size: 18px;
            padding-bottom: 24px;
            border-bottom: 1px solid #e8e8e8;
            margin: -30px -30px 30px -30px;
            padding: 30px;
            background: #f9fafc;
        }

            .account-settings h2:after {
                top: 50%;
                margin-top: -7px;
                right: 30px;
            }

    .address-delete {
        display: none;
    }

    .address-right {
        padding-right: 0;
    }

    .mobile-buttons {
        margin-top: 50px;
        text-align: right;
        display: block;
    }

        .mobile-buttons .btn.btn-default {
            padding: 18px 30px;
        }

        .mobile-buttons .btn + .btn {
            margin-left: 10px;
        }

    .address-right h3 em {
        margin-left: 10px;
    }

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
    }

    .lp-orange-banner,
    .lp-blue-banner {
        margin-top: 0;
        margin-bottom: 25px;
    }

        .lp-orange-banner img,
        .lp-blue-banner img {
            margin: 0 auto;
        }

    .lp-blue {
        border: none;
    }
}

@media(max-width: 374px) {

    .qip-form .btn-success {
        background-color: #6756a3;
        border-color: #6756a3;
        padding: 17px 26px 17px 27px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        font-size: 14px;
    }

    .qip-form .btn.btn-default {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
    }

    .qip-form label {
        padding-right: 80px;
    }
}
