
body {
    font-family: 'bariol_regularregular';
    background-color: #fff;
}

strong {
    font-family: 'bariol_boldbold';
    font-weight: normal;
}

h3 {
    margin: 20px 0;
    color: #8492a6;
    font-size: 18px;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

p {
    color: #8593a7;
    font-size: 18px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 21px;
    font-family: 'bariol_boldbold';
    margin-top: 0;
}

.btn.btn-default {
    padding: 18px 65px 19px;
    background: transparent;
    color: #8a97aa;
    font-size: 16px;
    border-color: #ededed;
    font-family: "bariol_boldbold";
    -ms-border-radius: 2px;
    border-radius: 2px;
}

    .btn.btn-default:focus {
        outline: none;
    }

.inner-page-wrapper {
    padding: 58px 199px 0 241px;
    background: #fbfcfd;
    min-height: 110vh;
}
/*header*/
.header .container {
    position: relative;
    z-index: 2;
}

.navbar {
    border: none;
    margin: 0;
    min-height: 10px;
    padding-left: 226px;
    padding-right: 134px;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 12px;
    padding-bottom: 14px;
}

    .navbar.with-banner {
        position: absolute;
        padding-left: 107px;
        padding-right: 86px;
    }

.logo {
    float: left;
    color: #6756a3;
    font-size: 28px;
    font-family: 'bariol_boldbold';
    padding: 0;
    line-height: 36px;
    height: auto;
}

.navbar.with-banner .logo {
    color: #fff;
}

    .navbar.with-banner .logo:hover {
        color: #fff;
    }

.logo:hover {
    color: #6756a3;
}

.customer-links.nav > li > a {
    font-size: 16px;
    color: #6756a3;
    float: left;
    padding: 8px 15px;
}


.navbar.with-banner .customer-links.nav > li > a {
    color: #fff;
}

.customer-links.nav > li > a:hover {
    background: transparent;
    text-decoration: underline;
}

.customer-links.nav > li > a.sign-up {
    border: 1px solid #6756a3;
    -ms-border-radius: 2px;
    border-radius: 2px;
    padding: 7px 15px;
}

.navbar.with-banner .customer-links.nav > li > a.sign-up {
    border: 1px solid #fff;
}

.customer-links.nav > li > a.sign-up:hover {
    text-decoration: none;
}

.navbar-wrapper {
    padding-right: 71px;
    padding-left: 92px;
}

/*header end*/
/*account*/
.account-links {
    background: #6756a3;
    border-top: 1px solid #e0e6ed;
    padding: 20px 231px;
}

    .account-links a {
        color: #fff;
        font-size: 16px;
    }

        .account-links a + a {
            display: inline-block;
            margin-left: 50px;
        }

        .account-links a.selected {
            font-family: "bariol_boldbold";
        }
/*account end*/
/*btn settings*/
.btn {
    font-family: 'bariol_regularregular';
}

.btn-info {
    background-color: #eb4e41;
    border-color: #eb4e41;
    padding: 17px 34px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
    -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
    -ms-text-shadow: 2px 2px rgba(0,0,0,.1);
    text-shadow: 2px 2px rgba(0,0,0,.1);
}

.btn-success {
    background-color: #6756a3;
    border-color: #6756a3;
    padding: 17px 29px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info:active:hover {
    background-color: #eb4e41;
    border-color: #eb4e41;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success:active:hover {
    background-color: #53438c;
    border-color: #53438c;
}
/*btn settings end*/
/*banner*/
.banner-wrapper .btn-default {
    padding: 18px 25px 19px;
    background: transparent;
    color: #fff;
    margin-left: 13px;
    font-size: 18px;
}

    .banner-wrapper .btn-default:hover,
    .banner-wrapper .btn-default:focus,
    .banner-wrapper .btn-default.focus,
    .banner-wrapper .btn-default:active,
    .banner-wrapper .btn-default:active:hover {
        background: transparent;
        color: #fff;
        outline: none;
    }

.banner-wrapper img {
    width: 100%;
}

.banner-wrapper .btn-default i {
    margin-right: 11px;
}

.banner-wrapper {
    position: relative;
}

    .banner-wrapper:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(82, 65, 142, 0.9);
        -webkit-box-shadow: 0px -100px 280px 0px rgba(0, 0, 0, 0.18) inset;
        -ms-box-shadow: 0px -100px 280px 0px rgba(0, 0, 0, 0.18) inset;
        box-shadow: 0px -100px 280px 0px rgba(0, 0, 0, 0.18) inset;
    }

.banner-description {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    top: 230px;
    left: 0;
}

    .banner-description h1 {
        font-size: 34px;
        margin: 0;
    }

    .banner-description p {
        padding: 30px 0 60px 0;
        font-size: 20px;
        color: #fff;
        margin-bottom: 0;
    }

.scrolldown-message {
    display: block;
    text-align: center;
    color: #857aa7;
    position: absolute;
    bottom: 27px;
    left: 0;
    width: 100%;
}

    .scrolldown-message:hover {
        color: #fff;
    }

/*banner end*/
/*landing page*/
.lp-orange {
    padding-left: 184px;
    padding-bottom: 122px;
    padding-top: 124px;
    padding-right: 60px;
}


    .lp-orange h2 {
        color: #eb4e41;
    }

.lp-orange-banner {
    margin-top: 48px;
}

.lp-blue {
    padding-left: 75px;
    padding-bottom: 158px;
    padding-top: 100px;
    padding-right: 190px;
}

    .lp-blue h2 {
        color: #6756a3;
    }

.lp-blue-banner {
    margin-top: 83px;
}

.lp-orange .btn-info {
    padding: 17px 24px;
}

.switch-button-wrapper strong,
.switch-button-wrapper a {
    float: left;
    line-height: 28px;
    font-size: 18px;
    font-family: 'bariol_regularregular';
    color: #8593a7;
}

.switch-button-wrapper a {
    width: 60px;
    height: 28px;
    background-color: #eb4e41;
    margin-left: 21px;
    margin-right: 19px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    position: relative;
}

    .switch-button-wrapper a:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: #fff;
        -ms-border-radius: 50%;
        border-radius: 50%;
        top: 4px;
        left: 5px;
    }

.switch-button-wrapper {
    padding: 20px 0;
    border: 2px solid #f9f9f9;
    border-width: 2px 0;
}

.custom-seperator {
    background-color: #ededed;
    height: 1px;
}

.lp-browse-wrapper {
    position: relative;
}

.lp-browser-content {
    text-align: center;
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
}

    .lp-browser-content h2 {
        font-size: 30px;
        font-family: 'bariol_regularregular';
        color: #6756a3;
    }

    .lp-browser-content p {
        font-size: 20px;
    }

    .lp-browser-content .btn-success {
        padding: 17px 63px;
        -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
        -ms-box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
        -ms-text-shadow: 2px 2px rgba(0,0,0,.1);
        text-shadow: 2px 2px rgba(0,0,0,.1);
    }
/*landing page end*/

/*search*/
.search-wrapper {
    position: absolute;
    top: 140px;
    left: 50%;
    width: 792px;
    margin-left: -396px;
    z-index: 2;
}

    .search-wrapper .form-control {
        height: 54px;
        color: #8492a6;
        font-size: 16px;
        padding-left: 72px;
    }

    .search-wrapper h1 {
        color: #fff;
        text-align: center;
        font-size: 30px;
        margin: 0;
        margin-bottom: 30px;
    }

.search-input {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 17px;
    left: 19px;
    background: url("../images/search-icon.png") center center no-repeat;
    width: 19px;
    height: 19px;
}

    .search-icon:before {
        content: "";
        position: absolute;
        top: -1px;
        right: -16px;
        background: #ededed;
        width: 1px;
        height: 21px;
    }

/*search end*/

/*shoplist*/
.left-side,
.right-side {
    width: 228px;
    min-height: 1px;
    margin-top: 41px;
}

.left-side {
    border-right: 2px solid #fff;
}

.center-side {
    padding: 0 17px;
    width: 984px;
    margin-top: 41px;
}

.right-side {
    border-left: 2px solid #f7f7f7;
}

.shop-row.row {
    margin: 0 -11px;
}

.shop-box {
    float: left;
    width: 33.333%;
    padding: 0 11px;
}

    .shop-box img {
        width: 100%;
    }

    .shop-box h4 a,
    .shop-list .shop-box p {
        color: #a0a8ac;
        font-size: 14px;
    }

    .shop-box h4 {
        margin-top: 15px;
    }

.shop-list .shop-box p {
    padding-left: 0;
}

.shop-list h2 {
    color: #6756a3;
    font-size: 24px;
    margin-bottom: 7px;
    padding-left: 3px;
}

.shop-list p {
    color: #8492a6;
    font-size: 16px;
    padding-left: 3px;
}

.more-shop {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 65px;
}

    .more-shop .btn {
        position: relative;
    }

        .more-shop .btn:before,
        .more-shop .btn:after {
            content: "";
            position: absolute;
            width: 222px;
            height: 2px;
            background: #f7f7f7;
            top: 50%;
            margin-top: -1px;
        }

        .more-shop .btn:after {
            right: 110%;
        }

        .more-shop .btn:before {
            left: 110%;
        }
/*shoplist end*/

/*filter*/
.filter-box {
    padding-left: 30px;
}

    .filter-box + .filter-box {
        margin-top: 30px;
    }

    .filter-box h3 {
        font-size: 14px;
        color: #8a97aa;
        margin: 0;
        margin-bottom: 12px;
    }

    .filter-box ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .filter-box ul li + li {
            margin-top: 9px;
        }

        .filter-box ul a {
            font-size: 14px;
            color: #8a97aa;
            position: relative;
        }

            .filter-box ul a.selected {
                color: #6756a3;
                font-family: 'bariol_boldbold';
            }

                .filter-box ul a.selected:before {
                    content: "";
                    width: 4px;
                    height: 15px;
                    -ms-border-radius: 2px;
                    border-radius: 2px;
                    background: #6756a3;
                    top: 1px;
                    left: -11px;
                    position: absolute;
                }

/*filter end*/

/*address form*/
.qip-form {
    padding: 42px 82px 25px 82px;
    border: 1px solid #e0e6ed;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

    .qip-form .row {
        margin: 0 -38px;
    }

    .qip-form .col-lg-6,
    .qip-form .col-lg-12 {
        padding: 0 38px;
    }

.form-title {
    font-size: 16px;
    font-family: "bariol_boldbold";
    color: #677181;
    margin-top: 0;
    margin-bottom: 45px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 24px;
}

.qip-form label {
    line-height: 13px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #677181;
    font-weight: normal;
    font-family: "bariol_boldbold";
}

.qip-form .form-group {
    margin-bottom: 22px;
}

.qip-form .btn {
    margin-left: 14px;
}

    .qip-form .btn.btn-default {
        padding-left: 44px;
        padding-right: 44px;
    }

.qip-form .form-control {
    height: 40px;
    border-color: #dde0e3;
    background: #fbfcfd;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    padding-left: 20px;
}

.qip-form textarea.form-control {
    height: 138px;
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    color: #a8aaae;
}

.address-add-buttons {
    text-align: right;
}

.qip-form .has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.qip-form .has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.qip-form select.form-control {
    -webkit-appearance: none;
}

.custom-dropdown {
    position: relative;
}

.arrow-down {
    background: url("../images/arrow-down.png") center center no-repeat;
    position: absolute;
    width: 12px;
    height: 8px;
    right: 16px;
    top: 50%;
    margin-top: -4px;
}
/*address form end*/
/*faq*/
.faq-wrapper {
    width: 610px;
    margin: 0 auto;
}

.faq-row-description {
    margin-bottom: 40px;
}

    .faq-row-description h2 {
        font-size: 26px;
        color: #6756a3;
        margin-top: 44px;
        margin-bottom: 30px;
        padding-left: 4px;
    }

    .faq-wrapper p,
    .faq-row-description p {
        font-size: 18px;
        margin-bottom: 0;
    }

.faq-wrapper h3 {
    font-size: 18px;
    font-family: "bariol_boldbold";
    margin-bottom: 23px;
    margin-top: 0;
}

.faq-row {
    position: relative;
}

    .faq-row + .faq-row {
        padding-top: 70px;
    }

        .faq-row + .faq-row:before {
            content: "";
            width: 100%;
            height: 1px;
            right: -4px;
            top: 32px;
            background: #f7f7f7;
            position: absolute;
        }

.faq-button {
    text-align: center;
    margin: 60px 0 75px 0;
}
/*faq end*/

/*account settings*/
.account-settings {
    padding: 32px 33px 0 30px;
    background: #fff;
    border: 1px solid #e0e6ed;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

    .account-settings + .account-settings {
        margin-top: 21px;
    }

    .account-settings h2 {
        font-size: 18px;
        padding-bottom: 24px;
        border-bottom: 1px solid #e8e8e8;
        color: #677181;
        margin-bottom: 0;
        position: relative;
    }

        .account-settings h2:after {
            content: "";
            background: url("../images/icon-plus.png") center center no-repeat;
            position: absolute;
            width: 14px;
            height: 13px;
            right: 4px;
            top: -3px;
        }

.payment-type {
    display: block;
    text-align: center;
    position: relative;
}

    .payment-type em {
        font-size: 12px;
        color: #afafaf;
        display: none;
        position: absolute;
        bottom: -70px;
        left: 0;
        width: 100%;
        text-align: center;
        font-style: normal;
    }

    .payment-type.selected em {
        display: block;
    }

.payment-item + .payment-item a:before {
    content: "";
    width: 1px;
    height: 21px;
    background: #e8e8e8;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 0;
}

.payment-item {
    padding-top: 88px;
    padding-bottom: 106px;
}

    .payment-item a.selected:after {
        content: "";
        background: url("../images/circle-tick.png") center center no-repeat;
        position: absolute;
        top: -12px;
        right: 19px;
        width: 20px;
        height: 20px;
    }

.address-settings {
    padding-top: 45px;
    padding-bottom: 68px;
}


.address-left {
    float: left;
    width: 198px;
    padding: 0 8px;
}

.address-right {
    float: left;
    width: 735px;
    padding-left: 32px;
    padding-right: 150px;
    position: relative;
}

.map {
    border: 1px solid #e0e6ed;
}

.address-right h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}

    .address-right h3 em {
        margin-left: 20px;
    }

.address-right p {
    margin-bottom: 10px;
}

.address-right .phone-number {
    margin-bottom: 0;
}

.notification-settings {
    padding-top: 25px;
    padding-bottom: 40px;
}

    .notification-settings label {
        display: block;
        font-size: 18px;
        color: #8492a6;
        -ms-text-shadow: none;
        text-shadow: none;
        font-weight: normal;
        cursor: pointer;
    }

.notification.selected .icon-thick {
    display: inline-block;
}

.icon-thick {
    display: none;
    background: url("../images/tick.png") center center no-repeat;
    width: 13px;
    height: 11px;
    margin-left: 7px;
}

.address-delete {
    background: url("../images/icon-delete.png") center center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 23px;
}

/*account settings end*/
/*footer*/
.footer-wrapper {
    padding-right: 70px;
    padding-left: 130px;
    padding-top: 47px;
    padding-bottom: 74px;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

.footer-links {
    float: left;
    width: 15%;
    margin: 0 30px;
}

    .footer-links h5 {
        font-size: 14px;
        color: #8492a6;
        margin: 0 0 20px 0;
        letter-spacing: .4px;
        font-family: 'bariol_boldbold';
    }

    .footer-links a,
    .footer-links p {
        font-size: 14px;
        color: #8492a6;
    }

    .footer-links ul {
        padding: 0;
        list-style: none;
    }

        .footer-links ul li + li {
            margin-top: 5px;
        }

.social {
    float: left;
    width: 28px;
    height: 28px;
    margin-bottom: 13px;
    -ms-background-size: contain !important;
    background-size: contain !important;
}

    .social + .social {
        margin-left: 11px;
    }

.facebook {
    background: url("../images/facebook.png") center center no-repeat;
}

.twitter {
    background: url("../images/twitter.png") center center no-repeat;
}

.instagram {
    background: url("../images/instagram.png") center center no-repeat;
}

.youtube {
    background: url("../images/youtube.png") center center no-repeat;
}

.googleplus {
    background: url("../images/googleplus.png") center center no-repeat;
}

.rss {
    background: url("../images/rss.png") center center no-repeat;
}

.copyright {
    padding-right: 184px;
    padding-left: 160px;
}

    .copyright p {
        margin-top: 20px;
        font-size: 14px;
    }

        .copyright p strong {
            font-size: 20px;
        }

    .copyright i {
        margin-right: 5px;
        font-size: 11px;
    }
/*footer end*/
